<div class="container mt-5">
    <div class="intro-container">
      <h2 class="intro-title">¡Envía tu Consulta Médica!</h2>
      <p class="intro-text">¿Tienes preguntas sobre tu salud? Completa este formulario y recibe el asesoramiento necesario de nuestros expertos.</p>
      <p class="intro-text">Tu bienestar es nuestra prioridad. ¡No dudes en enviarnos tu consulta para obtener orientación personalizada!</p>
    </div>
  
    <div class="form-container">
      <h3 class="form-title">Formulario de Consulta Médica</h3>
      
      <form (ngSubmit)="guardar(formulario)" #formulario="ngForm">
        <div class="form-group">
          <label for="nombre">Nombre Completo del Paciente:</label>
          <input type="text" class="form-input" id="nombre" name="nombre" [(ngModel)]="nombre" placeholder="Introduce tu nombre completo" required>
        </div>
        
        <div class="form-group">
          <label for="email">Correo Electrónico de Contacto:</label>
          <input type="email" class="form-input" id="email" name="email" [(ngModel)]="email" placeholder="Introduce tu correo electrónico" required>
        </div>
        
        <div class="form-group">
          <label for="mensaje">Descripción de tu Consulta:</label>
          <textarea class="form-input" id="mensaje" name="mensaje" [(ngModel)]="mensaje" placeholder="Describe tu duda o consulta médica" required rows="4"></textarea>
        </div>
  
        <div class="text-center">
          <button class="form-btn">Enviar Consulta</button>
        </div>
      </form>
  
      <div class="text-center mt-5">
        <a href="/suscripcion" class="subscription-link">¿Te gustaría recibir más consejos médicos? ¡Suscríbete ahora!</a>
      </div>
    </div>
  </div>
  
  
  
  