<h2 style="text-align: center;">Editar</h2>
<div class="container mt-5">
  <div class="form-container mx-auto">
    <h2 class="mb-4 text-center">Formulario de Receta</h2>
    <form (ngSubmit)="editar(formulario)" #formulario="ngForm">
      <div class="mb-3">
        <label for="number" class="form-label">ID</label>
        <input type="text" class="form-control" id="id" name="id" [(ngModel)]="id">
      </div>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre">
      </div>
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <input type="text" class="form-control" name="descripcion" [(ngModel)]="descripcion" id="descripcion">
      </div>
      <div class="mb-3">
        <label for="imagen" class="form-label">Imagen</label>
        <input type="text" class="form-control" name="imagen" [(ngModel)]="imagen" id="imagen">
      </div>
      <div class="text-center">
        <button class="btn btn-custom">Enviar</button>
      </div>
    </form>
  </div>
</div>
