<br><br>
<h2 class="text-3xl font-extrabold text-white text-center bg-green-700 p-6 rounded-t-lg mb-6">Formulario de Edición</h2>
<div class="container mt-8 px-4">
  <div class="mx-auto bg-white shadow-xl p-8 rounded-lg max-w-lg">
    <h3 class="text-2xl font-semibold text-center text-indigo-700 mb-6">Editar Nutricionista</h3>
    <form (ngSubmit)="editar(formulario)" #formulario="ngForm">
      <div class="mb-6">
        <label for="id" class="form-label text-xl font-medium text-gray-700">ID de la Receta</label>
        <input type="text" class="form-control p-3 w-full border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 transition duration-300" id="id" name="id" [(ngModel)]="id" placeholder="Introduce el ID de la receta">
      </div>
      <div class="mb-6">
        <label for="nombre" class="form-label text-xl font-medium text-gray-700">Nombre completo</label>
        <input type="text" class="form-control p-3 w-full border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 transition duration-300" id="nombre" name="nombre" [(ngModel)]="nombre" placeholder="Introduce su nombre">
      </div>
      <div class="mb-6">
        <label for="email" class="form-label text-xl font-medium text-gray-700">Correo</label>
        <input type="email" class="form-control p-3 w-full border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 transition duration-300" name="email" [(ngModel)]="email" id="email" placeholder="Introduce el email">
      </div>
      <div class="mb-6">
        <label for="password" class="form-label text-xl font-medium text-gray-700">Contraseña</label>
        <input type="password" class="form-control p-3 w-full border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 transition duration-300" name="password" [(ngModel)]="password" id="password" placeholder="Introduce su contraseña">
      </div>
      
      <div class="mb-3">
        <label for="titulo" class="form-label text-dark">Titulo Profesional</label>
        <input type="text" class="form-control p-3 w-full border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 transition duration-300" name="titulo" [(ngModel)]="titulo" id="titulo" placeholder="Introduce su titulo profecional">
      </div>
    <div class="mb-3">
      <label for="experiencia" class="form-label text-dark">Años de experiencia</label>
      <textarea class="form-control p-3 w-full border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 transition duration-300" name="experiencia" [(ngModel)]="experiencia" id="experiencia" placeholder="Introdusca los años de experiencia" required rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label    for="edad"class="nutrivida-form-label form-label">Edad:</label>
        <input type="number" class="form-control p-3 w-full border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 transition duration-300"  name="edad" [(ngModel)]="edad" id="edad" placeholder="Introdusca su edad" required min="18">
    </div>
      <div class="mt-6 text-center">
        <button type="submit" class="bg-green-600 text-white text-lg px-10 py-4 rounded-lg hover:bg-green-700 transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-green-500 w-full">
          Actualizar Nutricionista
        </button>
      </div>
    </form>
  </div>
