<div class="bg-green-50 min-h-screen flex flex-col items-center justify-center py-8">
    <div class="bg-green-custom w-full max-w-4xl py-12 text-center mb-8 border rounded-lg shadow-lg">
        <h1 class="text-5xl font-semibold text-white mb-2">¡Bienvenido a tu espacio de salud!</h1>
        <p class="text-xl text-white mb-4">Accede a tu cuenta para llevar un mejor control de tu alimentación y recibir asesoramiento nutricional personalizado.</p>
        <p class="text-md text-white">Nuestro equipo de expertos está listo para ayudarte a mejorar tu bienestar. ¡Empieza hoy mismo!</p>
    </div>

    <div class="container-form">
        <h2 class="mb-6 text-center text-green-custom text-2xl font-bold">Acceso para Pacientes</h2>
        <div class="text-center mb-6">
            <p class="text-lg text-gray-700">Ingresa con tu cuenta para visualizar tus dietas, consultar recomendaciones y recibir seguimiento personalizado de tu nutricionista.</p>
        </div>
        
        <form (ngSubmit)="login()" #formulario="ngForm" class="space-y-6">
            <div class="mb-3">
                <label for="email" class="form-label text-green-custom font-semibold">Correo Electrónico</label>
                <input type="email" [(ngModel)]="email" name="email" id="email" class="form-input px-4 py-2 border border-gray-300 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-green-600" placeholder="Ingresa tu correo electrónico" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label text-green-custom font-semibold">Contraseña</label>
                <input type="password" [(ngModel)]="password" name="password" id="password" class="form-input px-4 py-2 border border-gray-300 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-green-600" placeholder="Ingresa tu contraseña" required>
            </div>
            
            <button type="submit" class="w-full bg-green-custom-button text-white py-2 rounded-lg text-lg font-semibold hover:bg-green-900 transition duration-300">
                Iniciar Sesión
            </button>
        </form>
        
        <div class="form-footer text-center mt-6">
            <p class="footer-text text-gray-700">¿Eres nuevo aquí? <a href="registerPaciente" class="footer-link text-green-custom hover:text-green-900">Regístrate y empieza a mejorar tu alimentación hoy.</a></p>
        </div>
    </div>
</div>








  



  

