<nav id="navbar">
    <div class="container">
        <div class="logo-container">
            <img src="assets/img/Logo.png" alt="Logo NutriFruti" class="logo">
            <span class="brand-name">NutriFruti</span>
        </div>

        <ul class="nav-links">
            <li><a routerLink="nosotros">Nosotros</a></li>
            <li><a routerLink="contactos">Contactos</a></li>
            <li><a routerLink="contador">Contador de Calorías</a></li>
            <li><a routerLink="recetas">Recetas</a></li>
        </ul>
        <a href="#" class="contact-btn">Contactos</a>
    </div>
</nav>
<br><br>

<router-outlet></router-outlet>

<footer>
    <div class="footer-container">
        <div class="footer-info">
            <h3>NutriFruti</h3>
            <p>Salud y sabor en cada bocado.</p>
            <p><strong>Dirección:</strong> Av.Mariscal Sucre, Quito, Ecuador</p>
            <p><strong>Email:</strong> </p>
            <p><strong>Teléfono:</strong> +593 99 865 7513</p>
        </div>

        <div class="footer-links">
            <h3>Enlaces Rápidos</h3>
            <ul>
            <li><a routerLink="nosotros">Nosotros</a></li>
            <li><a routerLink="contactos">Contactos</a></li>
            <li><a routerLink="contador">Contador de Calorías</a></li>
            <li><a routerLink="recetas">Recetas</a></li>
            </ul>
        </div>

        <div class="footer-map">
            <h3>Ubicación</h3>
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.9508355585443!2d-79.20421792596316!3d-0.18065333535741424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d5850b5f52b18b%3A0x18bf11fa44cf7663!2sQuito%2C%20Ecuador!5e0!3m2!1ses-419!2sus!4v1708564153241!5m2!1ses-419!2sus" 
                width="100%" 
                height="200" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy">
            </iframe>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 NutriFruti - Todos los derechos reservados.</p>
    </div>
</footer>


<script src="app.component.js"></script>
