<div class="bg-green-50 min-h-screen flex flex-col items-center justify-center py-8">
    <div class="bg-green-custom w-full max-w-4xl py-12 text-center mb-8 border rounded-lg shadow-lg">
        <h1 class="text-5xl font-semibold text-white mb-2">¡Bienvenido a tu espacio de nutrición!</h1>
        <p class="text-xl text-white mb-4">Este es tu lugar para gestionar tus dietas y acceder a servicios exclusivos de nutrición profesional. ¡Estamos aquí para ayudarte a alcanzar tus objetivos de salud!</p>
        <p class="text-md text-white">Si tienes alguna duda sobre nutrición o necesitas apoyo, no dudes en contactarnos. ¡Te esperamos!</p>
    </div>

    <div class="container-form">
        <h2 class="mb-6 text-center text-green-custom text-2xl font-bold">Acceso para Nutricionistas</h2>
        <div class="text-center mb-6">
            <p class="text-lg text-gray-700">Por favor, ingresa tus datos para acceder a los beneficios exclusivos de nuestra plataforma nutricional. ¡Juntos mejoraremos la salud y bienestar de nuestros pacientes!</p>
        </div>
        
        <form (ngSubmit)="login()" #formulario="ngForm" class="space-y-6">
            <div class="mb-3">
                <label for="email" class="form-label text-green-custom font-semibold">Correo Electrónico</label>
                <input type="email" [(ngModel)]="email" name="email" id="email" class="form-input px-4 py-2 border border-gray-300 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-green-600" placeholder="Ingresa tu correo electrónico" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label text-green-custom font-semibold">Contraseña</label>
                <input type="password" [(ngModel)]="password" name="password" id="password" class="form-input px-4 py-2 border border-gray-300 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-green-600" placeholder="Ingresa tu contraseña" required>
            </div>
            
            <button type="submit" class="w-full bg-green-custom-button text-white py-2 rounded-lg text-lg font-semibold hover:bg-green-900 transition duration-300">
                Iniciar Sesión
            </button>
        </form>
    </div>
</div>





  
