<div class="container mt-5">
  <div class="bg-green-700 text-white p-4 rounded-lg mb-5">
    <h2 class="text-center mb-4">Bienvenido al Formulario de Nutriólogo</h2>
    <p class="text-center">
      Regístrate como nutriólogo para ofrecer tus servicios y ayudar a mejorar la alimentación de las personas.
    </p>
  </div>
  <div class="form-container mx-auto shadow-lg p-4 bg-white rounded-lg" style="max-width: 500px;">
    <h2 class="mb-4 text-center text-green-700">Formulario de Nutriólogo</h2>
    
    <form (ngSubmit)="guardar(formulario)" #formulario="ngForm">
      <div class="mb-3">
        <label for="nombre" class="form-label text-green-700">Nombre Completo</label>
        <input type="text" class="form-control form-control-sm" id="nombre" name="nombre" [(ngModel)]="nombre" placeholder="Introduce tu nombre completo" required>
      </div>
      
      <div class="mb-3">
        <label for="email" class="form-label text-green-700">Correo Electrónico</label>
        <input type="email" class="form-control form-control-sm" id="email" name="email" [(ngModel)]="email" placeholder="Introduce tu correo electrónico" required>
      </div>
      
      <div class="mb-3">
        <label for="password" class="form-label text-green-700">Contraseña</label>
        <input type="password" class="form-control form-control-sm" id="password" name="password" [(ngModel)]="password" placeholder="Introduce tu contraseña" required>
      </div>
      
      <div class="mb-3">
        <label for="titulo" class="form-label text-green-700">Título Profesional</label>
        <input type="text" class="form-control form-control-sm" id="titulo" name="titulo" [(ngModel)]="titulo" placeholder="Introduce tu título profesional" required>
      </div>
      
      <div class="mb-3">
        <label for="experiencia" class="form-label text-green-700">Años de experiencia</label>
        <input type="number" class="form-control form-control-sm" id="experiencia" name="experiencia" [(ngModel)]="experiencia" placeholder="Introduce tus años de experiencia" required>
      </div>
      
      <div class="mb-3">
        <label for="edad" class="form-label text-green-700">Edad</label>
        <input type="number" class="form-control form-control-sm" id="edad" name="edad" [(ngModel)]="edad" placeholder="Introduce tu edad" required min="18">
      </div>
      
      <div class="text-center">
        <button class="bg-green-700 text-white px-4 py-2 rounded-full shadow-lg transition-all hover:bg-green-800 hover:shadow-2xl">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>