
body {
    background-color: white;
}

header {
    background-color: #C8E6C9;
}

header h1 {
    color: #2E7D32;
    font-size: 2.5rem;
    animation: moveIn 2s ease-out;
}

header p {
    color: #333;
}

button {
    background-color: #E8F5E9;
    color: #388E3C;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #C8E6C9;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]:checked + .modal {
    display: flex;
}

.modal label {
    background-color: #81C784;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.welcome-section {
    background-color: #2E7D32;
}

.welcome-title {
    color: #2E7D32;
    font-size: 3rem;
    animation: moveIn 2s ease-out;
}

.welcome-title {
    animation: moveIn 2s ease-out;
}


#contact {
    background-color: #2E7D32;
}

@keyframes moveIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slide-up {
    animation: slideUp 1s ease-out;
}
