<div class="container mt-5">
  <div class="intro-container">
    <h2 class="intro-title">¡Bienvenido a Nuestro Formulario de Recetas!</h2>
    <p class="intro-text">¿Te encanta experimentar en la cocina? Aquí puedes compartir tus recetas favoritas y descubrir nuevas ideas para deleitar tu paladar. ¡Vamos a cocinar juntos y a disfrutar de la buena comida!</p>
    <p class="intro-text">Completa este formulario para compartir tus recetas con nosotros y ser parte de nuestra comunidad de cocineros. ¡No dudes en agregar los mejores sabores!</p>
  </div>

  <div class="form-container">
    <h3 class="form-title">Formulario para Compartir Recetas</h3>
    
    <form (ngSubmit)="guardar(formulario)" #formulario="ngForm">
      <div class="form-group">
        <label for="titulo">Nombre de la receta</label>
        <input type="text" class="form-input" id="titulo" name="titulo" [(ngModel)]="titulo" placeholder="Introduce el nombre de la receta" required>
      </div>
      
      <div class="form-group">
        <label for="pasos">Pasos de la receta</label>
        <input type="text" class="form-input" id="pasos" name="pasos" [(ngModel)]="pasos" placeholder="Introduce los pasos de la receta" required>
      </div>
      
      <div class="form-group">
        <label for="descripcion">Descripción de la receta</label>
        <input type="text" class="form-input" id="descripcion" name="descripcion" [(ngModel)]="descripcion" placeholder="Introduce una descripcion para la receta" required>
      </div>

      <div class="text-center">
        <button type="submit" class="form-btn">Enviar receta</button>
      </div>
    </form>

    <div class="text-center mt-5">
      <a href="/suscripcion" class="subscription-link">¿Te gustaría recibir más recetas? ¡Suscríbete ahora!</a>
    </div>
  </div>
</div>






